@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@300;700&display=swap');

html,
body,
#__next {
  width: 100%;
  background-color: #334155;
  min-width: 300px;
  min-height: 100vh;
  
}