

.intro {
    animation: show 2s ease-in;
  }

.mountain {
    animation: slideFromLeft 1s ease-in;
    color: white;
    width: 12%;
    margin-right: 15px;
    margin-bottom: 4px;
}

.listItem {
    animation: slideFromRight 1s ease-in;
    color: white;
 
}




/* KEYFRAMES */

@keyframes show {
    0% {
      opacity: 0
  }
    100%  {
      opacity: 1
  }
}


@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(50%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}