#navbar_custom {
    display: flex;
    align-items: center;
    padding: var(--navbar-padding, 0.5rem);
    min-height: 4rem/* 64px */;
    width: 100%;
    min-width: 400px;
    position: sticky;
}

:where(#navbar_custom > *) {
    display: flex;
    align-items: center;
}

@keyframes show {
    0% {
      opacity: 0
  }
    100%  {
      opacity: 1
  }
}

#intro {
  animation: show 2s ease-in;
}