

.input {
    border-radius: 4px;
    height: 30px;
    padding: 5px 20px;
    color: black;
    font: inherit;
    font-weight: 600;
    text-align: center;
}

.input:focus {
    border: 2px solid rgb(3 105 161);
}

.input::placeholder {
    font-weight: 600;
}


.parkImage {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.heartButton:visited {
    background-color: red;
}