
.inputContainer {
    position: relative;
}
.input {
    border-radius: 4px;
    height: 40px;
    padding: 5px 20px;
    color: rgb(86, 78, 78);
    font: aeonik-bold;
    font-weight: 400;
    text-align: center
}

.icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 7px;
    left: 55px;
    color: gray;
}

.input:focus {
    border: 2px solid rgb(49, 71, 159);
}

.input::placeholder {
    font-weight: 400;
   
}


.parkImage {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.heartButton:visited {
    background-color: red;
}